BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
lineLength: 100

BinPackParameters: false
AlignAfterOpenBracket: BlockIndent

AllowAllParametersOfDeclarationOnNextLine: false
BreakAfterOpenBracketFunction: true
BreakBeforeBraces: Attach
IndentAccessModifiers: true
BreakBeforeBinaryOperators: All

AlignOperands: AlignAfterOperator
BreakBinaryOperations: RespectPrecedence
BreakBeforeInheritanceColon: Never
NamespaceIndentation: All
BreakInheritanceList: AfterColon
